
.navbar h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  height: 32px;
  width: 134px;
}
.navbar ul a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
}
.legalproserive h1{
    font-family: 'Martel';
font-style: normal;
font-weight: 900;
font-size: 58px;
line-height: 65px;
letter-spacing: 0.2px;
color: #252B42;
width: 509px;
height: 130px;

}

.weknow p{
    

    width: 376px;
    height: 60px;  
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;  
    color: #737373;
   
}
.btn-get{
    width: 110px;
height: 28px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;

}
.btn-learn{
    width: 110px;
height: 28px;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #784F33;

}
.card{
    color: #252B42;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
display: flex;

}
.card3{
    color: white;
}
.small-text{
    width: 199px;
height: 40px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;

}
.small-text-card3{
    width: 199px;
    height: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #ffffff;
}
.client{
    width: 419px;
height: 50px;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: 0.2px;
color: #252B42;
}
.client-smalltext{
    width: 468px;
height: 40px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}