header {
  height: 0;
  width: 100%;
  display: flex;
}

.headermain {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  background-image: url("../img/pageimg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  height: 50px;
  width: 100%;
  padding: 10px 100px;
  position: relative;
  display: flex;
  z-index: 1;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  gap: 26px;
  margin-top: 5px;
}

li {
  float: left;
  
}

li a {
  display: block;
  text-align: center;

  text-decoration: none;
}
.navbar h3 {
  width: 20%;
  margin: 0;
  padding: 0;
}
.icon {
  align-items: center;
  margin-top: 5px;
}
.navbarmenu {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
